# <span style="color:darkblue"> Lecture 2: Variables and Lists </span>

<font size="5"> 

In the previous class we:
- Reviewed the basic structure of Jupyter notebooks
- Showed how to install and import libraries

<font size="5"> 

In this class we will:

- Introduce variables and lists
- Compute a histogram plot
- (Optional) Common pitfalls and understanding errors

# <span style="color:darkblue"> Import Libraries </span>

In [110]:
# The matplotlib library is used to create graphs

import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'matplotlib'

##

# <span style="color:darkblue"> Variables and Data Types </span>

<font size="5"> 

Identify the type of object
- Integers, Floats (numbers with decimals) or strings (text)
- Type is a function, with an argument in parenthesis (...)

In [1]:
type(3)

int

In [2]:
type(3.5)

float

In [19]:
type('hello')

str

In [20]:
# You can define strings with either single or double quotations.
type("hello")

str

<font size="5"> 

Store Variables in memory

- Assign variables with "="
- Write meaningful names, without spaces
- Can use underscore "_"
- Click "Variables" in the top panel of Jupyter Notebooks

In [35]:
# Try choosing your names on the left of "="

number3        = 3
number3andhalf = 3.5
message_hello  = "hello"

In [49]:
# You can show the output by writing the name of the variable
# Try including different variables

number3
message_hello #Only the last one will be shown

'hello'

In [50]:
# Jupyter only shows the output for the last object
# You can show multiple outputs by using the function "print"

print(number3)
print(number3andhalf)

3
3.5

<font size="5"> 

Basic operations on integers and floats

- Addition (+), Multiplication (*), Subtraction (-), Division (/), Exponentiation (**)
- If you try this on a string it will not work

In [62]:
# Basic operations on numbers
print(3*2)
print(3+2)
print(3-2)
print(3/2)
print(3**2)

6
5
1
1.5
9

<font size="5"> 

Use parenthesis for composite operations

In [63]:
(3 + 4) / 5

1.4

In [82]:
# Try doing the same with the variable "number3" or "number3andhalf instead.

number3*2

number3andhalf**2

12.25

<font size="5"> 

Concatenate "add" two strings

In [83]:
# Use the + symbol to concatenate two or more strings
# This is very useful to contract strings where one part stays the same,
# and the other is a user input.

name = "David"

"My name is "  + name

'My name is David'

# <span style="color:darkblue"> Lists </span>

<font size="5"> 

Store Lists

- Lists are always denote by square brackets [...]
- Elements separated by commas

In [91]:
# List of numbers
# Example: Suppose you ask 5 people about their favorite color. The results:
list_numbers     = [1,2,3,4,5]
list_numbers_sqr = [1,4,9,16,25]

In [92]:
# List with strings
# Example: Suppose you ask 5 people about their favorite color. The results:
list_colors = ["red","yellow","yellow", "green","red"]

In [93]:
# List with mixed types
list_mixedtype = ["red",1,"yellow",4,5]

<font size="5">

Extract individual elements from a list

- Use square brackets, e.g. list_colors[2]
- Python lists always start at the **ZERO** position


<img src="figures/house_diagram.png" alt="drawing" width="650"/>

In [102]:
floors_england = ["ground", "floor1", "floor2" ]

floors_england[0]

'ground'

In [103]:
# Use print to show the output of multiple commands
print(list_colors[0])
print(list_colors[1])
print(list_colors[2])
print(list_colors[3])
print(list_colors[4])

red
yellow
yellow
green
red

In [108]:
# Try creating a list with four elements, and then selecting the third entry

list_breakfast = ["egg","bacon","tots","cereal","toast"]

print(list_breakfast[2])

tots

# <span style="color:darkblue"> Visualizing Lists </span>

<font size="5"> 

A histogram for categorical data

In [111]:
# This creates a histogram with the "list_colors"
plt.hist(x= list_colors)

NameError: name 'plt' is not defined

In [ ]:
# Creat a list with repeated string values
# Compute your own histogram

<font size="5"> 

A histogram for continuous data

In [112]:
plt.scatter(x = list_numbers, y = list_numbers_sqr)
plt.xlabel("A meaningful name for the X-axis")
plt.ylabel("Favourite name for Y-axis")
plt.show()

NameError: name 'plt' is not defined

In [ ]:
# Create a list with numbers, then create your own scatter plot

# <span style="color:darkblue"> Additional Resources </span>

<font size="5"> 

Check out additional examples at:

- https://allendowney.github.io/ElementsOfDataScience/01_variables.html
- https://allendowney.github.io/ElementsOfDataScience/03_arrays.html

# <span style="color:darkblue"> (Optional) Common Pitfalls </span>

<font size="5"> 

It's very common to enter a command incorrectly
- There will be an arrow pointing to the problematic line
- Focus on the message following "NameError"

<font size="5"> 

Pro Tip:
- Type in google the message for "NameError" plus the word Python
- Somebody may have a solution/explanation!

<font size="5"> 

Example 1: Not including quotations

In [ ]:
# When you don't include quotation marks,
# Python will try to search for a variable called Hello
type(hello)

In [ ]:
# This commands works if we already defined a variable, e.g.
type(message_hello)

<font size="5"> 

Examples 2: Operations with mixed types don't work

In [113]:
# If you add a number and a string you get a concatenated string
print("hola" + number3)

TypeError: can only concatenate str (not "int") to str

In [114]:
# You can convert an integer to string first
print("hola" + str(number3))

hola3

<font size="5"> 

Examples 3: Mathematical operations on numeric lists don't work

- We need a different object: arrays!
- We'll look into this in future classes

In [115]:
# You can convert an integer to string first
list_numbers * 2

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]